*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.details_second{
    line-height: 180%;
}

p{
    text-align: justify;
}

li{
    text-align: justify;
}