*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.overall{
    width: 100%;
}

.travel_image{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./../images/travelimages/home\ blog\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}


.travel_imagetext{
    margin-top: 12% !important;
    color: #fff !important;
}

.animate{
    color: white !important;
    text-align: center !important;
}


.card-title a{
    text-decoration: none;
    color: black;
}

.card-title a:hover{
    text-decoration: underline;
    color: blue;
}

.Readmore{
    text-decoration: none;
    color: black;
}

.krugger a{
    text-decoration: none;
    color: black;
}

.desert img{
    height: 350px;
} 


.stories{
    margin-top: 7%;
}


.categories img{
    width: 450px;
    height: 350px;
    margin: 2px;
    margin-top: 2px;
}
 

@media (max-width: 768px){

    .container_all{
        width: 90%;
        height:  auto ;
    }

    .desert .card{
        margin-bottom: 10%;
    }

    .navbar-toggler{
        margin-right: 35%;
       
    }

    .animate{
        margin-top: 20% !important;
    }

    .travel_imagetext{
        margin-top: 20% !important;
    }
}



   